html, body, #root {
    height: 100%;
}

.link {
    padding: 6px;
}

.link > a {
    font-size: 20px;
    color: white;
    display: inline-block;
    border-radius: 2px;
    background-color: #2e8b57;
    padding: 2px 6px;
    text-decoration: none;
}

.link > a + a {
    margin-left: 4px;
}
