.taro_page
  display flex
  align-items center
  justify-content center
  background-color black

.load
  position relative

  div
    position absolute
    top 50%
    width 25px
    height 7px
    background white
    box-shadow 2px 2px 3px 0px black

.square1
  left 70px
  -webkit-animation soft 1s 0.125s ease infinite
  animation soft 1s 0.125s ease infinite

.square2
  left 60px
  -webkit-animation soft 1s 0.3s ease infinite
  animation soft 1s 0.3s ease infinite

.square3
  left 50px
  -webkit-animation soft 1s 0.425s ease infinite
  animation soft 1s 0.425s ease infinite

.square4
  left 40px
  -webkit-animation soft 1s 0.540s ease infinite
  animation soft 1s 0.540s ease infinite

.square5
  left 30px
  -webkit-animation soft 1s 0.665s ease infinite
  animation soft 1s 0.665s ease infinite

.square6
  left 20px
  -webkit-animation soft 1s 0.79s ease infinite
  animation soft 1s 0.79s ease infinite

.square7
  left 10px
  -webkit-animation soft 1s 0.9s ease infinite
  animation soft 1s 0.9s ease infinite

.square8
  left 0px
  -webkit-animation soft 1s 1s ease infinite
  animation soft 1s 1s ease infinite

@keyframes soft
  50%
    opacity 0.7
  75%
    transform rotate(90deg)
  80%
    opacity 1
